{
    "printWidth": 140,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
